---

import Fontawesome from "@/layouts/Fontawesome";
---

<div class="h-6 w-6">
  <a href="https://wa.me/56996366455?text=Hola,%20me%20gustaría%20más%20información%20sobre%20tus%20productos." target="_blank" rel="noopener noreferrer"
  ©>
  <Fontawesome icon="whatsapp"  />
</a>
</div>
<div class="h-6 w-6">
  <a href="https://www.instagram.com/7lagosdeco/">
  <Fontawesome icon="instagram" />
</a>
</div>